#Machine learning
torch 
torchvision 
torchaudio
torchmetrics
pytorch-lightning
Pillow
#tensorboard

#Plotting
#matplotlib
#plotly

#Evaluation and data processing
numpy
pandas
sklearn
scipy

#Utilities and logging
PyYAML
easydict
wandb