#Machine learning
torch==1.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.11.3+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchaudio==0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchmetrics
pytorch-lightning
lightning-bolts
Pillow
#tensorboard

#Plotting
#matplotlib
#plotly

#Evaluation and data processing
numpy
pandas
sklearn
scipy

#Utilities and logging
PyYAML
easydict
wandb